.container {
    background-color: #c00025;
    width: 100%;
    max-width: 455px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
    padding: 2% 0%;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.logo-container {
  padding-left: 12%;
}

.display-container {
  display: flex;
  justify-content: center;
}

.display {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100px;
    width: 325px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8%;
    font-size: 48px;
    text-align: center;
  }

  .App {
      display: flex;
      justify-content: center;
  }

  .flex-container {
    width: 60%;
  }

  .buttons {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 32px;
    margin: 2%;
  }

  .numbers-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .number-button {
    background-color: #113C78;
    box-shadow: 0px 2px 5px black;
  }

  .number-button:nth-child(10) {
    width: 170px;
    height: 75px;
    border-radius: 50px;
  }

  .operator-button {
    background-color: #3EB5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 12%;
    box-shadow: 0px 2px 5px black;
  }

  .specials-container {
    text-align: center;
  }

  .specials-button {
    background-color: #2061B0;
    box-shadow: 0px 2px 5px black;
  }
